<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>4703529935-113k2mqogq75rnn5dgkd9mqrfs60j0l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.4703529935-113k2mqogq75rnn5dgkd9mqrfs60j0l5</string>
	<key>API_KEY</key>
	<string>AIzaSyAkbC3UBUkTIQ52clwj9hiFTTT9mimv8vQ</string>
	<key>GCM_SENDER_ID</key>
	<string>4703529935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarApp</string>
	<key>PROJECT_ID</key>
	<string>auth-e85df</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-e85df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:4703529935:ios:8874f37ec7dcf3971e00ba</string>
</dict>
</plist>